*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
body{
    background-color: var(--back-color);
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.btn{
    
    padding: 7px;
    border-radius: 50px;
}

.error{
    margin-top: 5px;
    color: var(--error-color);
    font-size: 15px;

}

.success{
    margin-top: 5px;
    color: var(--success-color);
    font-size: 15px;

}


.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}